@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  html, body, #root, .main-wrapper {
    background-color: #0C0C0C;
    font-family: 'Kanit', sans-serif;
    color: #D7E2EA;
  }
}

@layer utilities {
  .hero-heading {
    background: linear-gradient(180deg, #646973 0%, #BBCCD7 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

@keyframes scroll-down {
  0% { transform: translateY(-100%); }
  100% { transform: translateY(200%); }
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}
